@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.section-description {
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.6;
}

.btn {
  background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border-radius: 10000px;
  border: none;
  cursor: pointer;
}

/* header  styles */

#header {
  /* background-color: saddlebrown; */
  background-color: #1a0b2e;
}

.navbar {
  /* background-color: #935fd8; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.border {
  border-bottom: 1px solid #ffffff;
  opacity: 0.1;
}

.logo h1 #first-one {
  color: white;
}

.logo h1 #second-one {
  background: linear-gradient(
    to right,
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bold;
}

.navbar .menu li {
  list-style: none;
}

.navbar .menu {
  display: flex;
  gap: 32px;
}

.navbar .menu li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}

.navbar .btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

/* mobile responsive navbar */
.mobile-nav {
  display: none;
}

/* banner related styles */
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 100px 0;
  width: 100%;
  max-width: 1600px;
  margin: auto auto;
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-img #hero-circle {
  position: relative;
  width: 350px;
  height: 350px;
}

.hero-img #hero-circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

#hero-circle #text {
  position: absolute;
  left: 280px;
  top: 30px;
  background-color: #00ff88;
  border-radius: 10000px;
}

#hero-circle #text p {
  padding: 8px 16px;
  font-weight: 600;
  font-size: 1.125rem;
}

#hero-circle #text:hover {
  transform: rotate(-20deg);
}

.hero-img #hero-microphone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}

#hero-microphone img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.hero-text {
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-text .hero-heading {
  font-size: 3.75rem;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 8px;
}

.hero-text .section-description {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 24px;
}

.hero-text .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.hero-text .btn1,
.hero-text .btn2 {
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 1rem;
}

.hero-text .btn1 {
  border: none;
  color: #ffffff;
  border: 1px solid transparent;
  background-clip: padding-box;
}

.hero-text .btn-container div {
  display: inline;
  width: 20px;
  height: 20px;
}

.hero-text .btn-container div img {
  height: 16.5px;
  width: 16.5px;
  text-align: center;
}

.hero-text .btn-container .btn2 {
  background: transparent !important;
  border: 1px solid #00ff88;
  color: #00ff88;
}

.hero-text .btn-container .btn2:hover {
  background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  ) !important;
  color: #ffffff;
}

.hero-text .btn-container .btn1:hover {
  background: transparent !important;
  border: 1px solid #00ff88;
  color: #00ff88;
}

/* about related styles */
main {
  /* background-color: #7f59b1; */
  background-color: #1a0b2e;
}

#about .about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#about .about-text .section-heading {
  margin: 50px 0 16px 0;
}

#about .about-text .section-description {
  line-height: 20px;
}

#about .border {
  margin: 80px 0;
}

#about .about-counter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: center;
  gap: 80px;
}

#about .about-counter .counter-container h2 {
  font-size: 3rem;
  color: #00ff88;
  margin-bottom: 16px;
}

#about .about-counter .counter-container p {
  color: #ffffff;
  line-height: 20px;
  font-size: 1rem;
  text-transform: uppercase;
}

#about {
  padding-bottom: 120px;
}

/* why  choose  */

#why-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: #230e3d;
}

#why-choose .section-heading {
  text-align: center;
}

#why-choose .container {
  margin: 120px 0;
}

.headphone {
  grid-area: headphone;
}

.device {
  grid-area: device;
}

.location {
  grid-area: location;
}

.interview {
  grid-area: interview;
}

.resource {
  grid-area: resource;
}

#why-choose .card-container {
  display: grid;
  gap: 30px;
  padding-top: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "headphone  device  device"
    "headphone  location  location"
    "interview  interview resource";
}

#why-choose .card-container .card {
  background-color: #351165;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  padding: 40px;
  border-radius: 48px;
}

#why-choose .card-container .card .card-img {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#why-choose .card-container .card .card-img img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

#why-choose .card-container .card h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
}

#why-choose .card-container .card p {
  line-height: 24px;
}

/* featured related styles */
#featured {
  background-color: #1A0B2E;
}

#featured .container {
  padding: 120px 0;
}

#featured .section-heading {
  text-align: center;
  margin-bottom: 40px;
}
.featured-card-container {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 30px;
}

.video-card {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 440px;
  background-color: #250d44;
  border-radius: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* ai card(card number-3) ta te sudhu  Thumbnail show  koreci  */
/* ai card(card number-2) ta te button ta add kori nai     karon - 
video open korle button ta Exist obosthay  thake   */

.video-card .video-container #video-hide {
  display: none;
}
.video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  ) !important;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
}

.play-button:hover {
  background-color: rgba(255, 0, 0, 1);
  transform: translate(-50%, -50%) scale(1.1);
}
.play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.play-icon i {
  font-size: 1.25rem;
}

.card-content {
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 12px;
  background-color: #250d44;
}

.card-header {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}

.section-description {
  line-height: 24px;
}

.video-duration {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  color: #00ff88;
  margin-top: 4px;
}

.video-duration div {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-icon {
  width: 16px;
  height: 16px;
}

/* mobile responsive   576 px */

@media screen and (max-width: 576px) {

  /* featured */
  #featured .container {
  padding: 40px 20px;
}

.section-heading {
  font-size: 2rem;
}


.featured-card-container {
  flex-direction: column;
}




#featured .card-header {
  font-size: 1.25rem;
}


  /* header related */
  #header {
    padding-bottom: 40px;
  }

  #header .navbar {
    display: none;
  }

  #header .mobile-nav {
    display: block;
  }

  #header .mobile-nav .hamburger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
  }

  .hamburger-container {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hamburger-container img {
    width: 18px;
    height: 13.5px;
  }

  /* banner's styles */
  #banner {
    padding: 0;
  }

  .hero-img #hero-circle {
    width: 200px;
    height: 200px;
  }

  #hero-circle #text {
    left: 165px;
    top: 25px;
  }

  #hero-circle #text p {
    font-size: 1rem;
  }

  .hero-img #hero-microphone {
    width: 80px;
    height: 80px;
  }

  .hero-text {
    max-width: 400;
    width: 100%;
    padding: 0 20px;
  }

  #banner .hero-img {
    margin-top: 80px;
  }

  .hero-text .hero-heading {
    font-size: 2.5rem;
  }

  /* about  */
  #about {
    max-width: 400px;
    width: 100%;
    padding: 0px 20px;
  }

  #about .border {
    margin: 40px 0;
  }

  #about .about-text .section-heading {
    margin: 40px 0 16px 0;
  }

  #about .about-counter {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  #about {
    padding-bottom: 40px;
  }

  /* why  choose  */

  #why-choose {
  }

  #why-choose .section-heading {
    text-align: center;
  }

  #why-choose .container {
    max-width: 400px;
    width: 100%;
    margin: 40px auto;
  }

  #why-choose .card-container {
    display: grid;
    gap: 30px;
    padding: 40px 20px 0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "headphone"
      "device"
      "location"
      "interview"
      "resource";
  }

  #why-choose .card-container .card {
    width: 100%;
    max-width: 400px;

    padding: 24px;
    border-radius: 24px;
  }

  #why-choose .card-container .card h3 {
    font-size: 1.375rem;
  }
}
